{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>


    <a href="{{ path('app_commentaire_new') }}">Create new</a>
{% endblock %}
